:root{
    --grey: rgb(43, 43, 43);
    --red: rgb(185, 1, 1);
    --white: white;
}

body{
    background: rgb(43, 43, 43);
    font-family: 'Bebas Neue', sans-serif;

}

header{
    background: solid var(--white);
    color: var(--red);
    border: 3px solid var(--red);
    font-size: 150%;
    position: fixed;
    width: 100%;
}